<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.spzx.product.mapper.CategoryBrandMapper">

    <resultMap id="selectCategoryBrandListResultMap" type="com.spzx.product.domain.CategoryBrand" autoMapping="true">
    </resultMap>

    <select id="selectCategoryBrandList" resultMap="selectCategoryBrandListResultMap">
        select cb.*, c.name categoryName, b.name brandName, b.logo logo
        from category_brand cb
        left join category c on c.id = cb.category_id and c.del_flag = 0
        left join brand b on cb.brand_id = b.id and b.del_flag = 0
        <where>
            cb.del_flag = 0
            <if test="categoryBrand.categoryId != null">
                and cb.category_id = #{categoryBrand.categoryId}
            </if>
            <if test="categoryBrand.brandId != null">
                and cb.brand_id = #{categoryBrand.brandId}
            </if>
        </where>
    </select>

    <update id="deleteCategoryBrandByIds">
        update category_brand
        set del_flag = 2, update_by = #{username}, update_time = sysdate()
        where del_flag = 0 and id in
        <foreach collection="ids" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </update>
</mapper>