<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spzx.product.mapper.ProductSkuMapper">
    
    <resultMap id="ProductSkuResult" type="com.spzx.product.api.domain.ProductSku" autoMapping="true"/>

    <select id="getTopSale" resultMap="ProductSkuResult">
        select sku.*, ss.sale_num
        from product_sku sku
        left join product p on p.id = sku.product_id and p.del_flag = 0
        left join sku_stock ss on ss.sku_id = sku.id and ss.del_flag = 0
        where sku.del_flag = 0 and p.status = 1 and p.audit_status = 1
        order by ss.sale_num desc limit 20
    </select>

    <select id="selectProductSkuList" resultMap="ProductSkuResult">
        select sku.*, ss.sale_num, ss.total_num stockNum
        from product_sku sku
                 left join product p on p.id = sku.product_id and p.del_flag = 0
                 left join sku_stock ss on ss.sku_id = sku.id and ss.del_flag = 0
        <where>
            sku.del_flag = 0 and p.status = 1 and p.audit_status = 1
            <if test="query.keyword != null and query.keyword != ''">
                and sku.sku_name like concat('%', #{query.keyword}, '%')
            </if>
            <if test="query.brandId != null">
                and p.brand_id = #{query.brandId}
            </if>
            <if test="query.category1Id != null">
                and p.category1_id = #{query.category1Id}
            </if>
            <if test="query.category2Id != null">
                and p.category2_id = #{query.category2Id}
            </if>
            <if test="query.category3Id != null">
                and p.category3_id = #{query.category3Id}
            </if>
        </where>
        <if test="query.order == 1"> order by ss.sale_num desc </if>
        <if test="query.order == 2"> order by sku.sale_price asc </if>
        <if test="query.order == 3"> order by sku.sale_price desc </if>
    </select>

    <select id="getProductSkuIdsOnSale" resultType="java.lang.Long">
        select sku.id from product_sku sku
        left join product p on sku.product_id = p.id and p.del_flag = 0
        where sku.del_flag = 0 and p.status = 1
    </select>
</mapper>